<div class="container_12 middle-area">   
	<div class="grid_4">   		
		<h1>Borçlarınızı takip etmeniz için <span style="color:green;">yeni</span> bir yol. </h1>   
		<p> Bazen verdiğiniz borçlar geri gelmeyebiliyor. Aslında varyemez olduğunuzu biliyorum. Birine borç verip, arkasından uykusuz kaldığınızı. 
			<br />
			Artık farklı bir yolunuz daha var. Varyemez ile siz de alacaklarınızın takibini yapın ve paranızın üstüne kim yatıyor görün.
			<br /><br />
			Üstelik kullanmak ücretsiz. Facebook ya da Twitter hesabının olması yeterli.
			</p>                                                                        
			<p>
				<%= link_to image_tag("twitter-login.png"), "/auth/twitter" %> 
				<%= link_to image_tag("facebook-login.png"), "/auth/facebook" %>
			</p>
			
	</div>                   
	<div class="grid_8">
		<%= image_tag "pie.png" %> 
	</div>
	<hr />
<div class="container_12">
	<div class="grid_3 box">
		<h4>Gravatar Desteği</h4>  
		<div style="height:110px;">
			<p>
				Gravatar desteği ile size borcu olan ve sizin borçlu olduğunuz kişilerin fotoğraflarını da görebilirsiniz.
				Bunun için kişi kaydını oluştururken email girmeyi unutmayın.
			</p>                       
		</div>
		<%= image_tag "gravatar.png" %>
	</div>
	<div class="grid_3 box">
	   	<h4>PDF ve Excel Desteği</h4> 
		<div style="height:110px;">
			<p>
				Tüm alacaklarınızı ve borçlarınızı Excel'e aktarabilirsiniz. Ayrıca kişinin hesap dökümünü PDF'e export edebilirsiniz.			
			</p>                     
		</div>
		<%= image_tag "psfxls.png" %>
	</div>
	<div class="grid_6 box">
		<h4>Borçlarınızı da Takip Edin</h4> 	   
			<p>
				Alacaklarınızın haricine borçlarınızı da takip edebilirsiniz. Borç / Alacak takibini kişi bazında da gerçekleştirebilirsiniz.			
			</p>                     
		<%= image_tag "hesapdokum.png" %>
	</div>
</div>  
